// Head
params {
  config_profile_description = 'MUB/CBiAD cluster profile provided by nf-core/configs.'
  config_profile_contact = 'Adrian Janucik (@ajandria)'
  config_profile_url = 'https://<institutional_url>.com'
}

// Enable use of Singularity to run containers
singularity {
    enabled = true
    envWhitelist='SINGULARITY_BINDPATH'
    autoMounts = true
}

// Max 200 jobs in parallel
executor {
    queueSize = 200
}

// Internal options
process {
    beforeScript = 'module load MOD/singularityce/3.11.1'
    executor = 'pbspro'
    queue = 'workq'
}

// Max resources
params {
  max_memory = 512.GB
  max_cpus = 64
  max_time = 2400.h
}
